:root{
    --roxo-escuro: #2D2B33;
    --roxo-medio: #454050;
    --lilas: #6A4CA5;
    --roxo-vibrante: #6A20FA;
    --roxo: #6E3ECF;
    --branco: #FFFF;
    --lilas-medio: #8765ca;
    --lilas-claro: #D2BDF4;
    --lilas-super-claro: #f0e9fc;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-base {
    flex: 2 1 10vh;  
    background-color: var(--roxo-escuro);
    color: var(--branco);
    padding: 20px 0 35px 50px;
    z-index: 3;
}

.nav-base {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}

.nav-base a {
    flex: 1 1 min-content;
    max-width: max-content;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--branco);
    transition: background-color 300ms;
    background-color: var(--roxo);
}

.nav-base a:hover {
    background-color: var(--roxo-vibrante);
}

section {
    flex: 1 1 100vh;
    padding: 0 50px;
    background-color: var(--branco);
}


footer {
    display: flex;
    flex-direction: column;
    flex: 1 1 10vh;
    background-color: var(--roxo-medio);
    color: var(--branco);
    align-items: center;
    justify-content: center;
    padding: 35px;
}

.produtos-container{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    padding: 70px 0;
}

.produto{
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 10vw;
    max-width: 25%;
    margin: 10px;
    padding: 25px;
    background-color: var(--lilas-claro);
    border-radius: 10px;
    justify-content: space-between;
}

#link-comprar {
    text-decoration: none;
    color: var(--branco);
    transition: background-color 300ms;
    background-color: var(--lilas);
    padding: 5px 10px;
    border-radius: 5px;
    align-self: flex-end;
    
}

#link-comprar:hover{
    background-color: var(--roxo);
}

#produto-preco{
    font-weight: 600;
    font-size: larger;
}

#produto-categoria{
    font-size: smaller;
    line-height: 0;
}

.nav-produtos {
    display: none;
    position: absolute;
    flex: 1 1 100vw;
    flex-direction: row-reverse;
    height: 50px;
    width: 100%;
    background-color: var(--roxo-medio);
    align-items: center;
    justify-content: end;
    top: 0;
    
    transition: top 1s ease-in-out;
}

.nav-produtos a {
    width: fit-content;
    margin-right: 35px;
}

.abrir-nav{ /* checkbox */
    position: absolute;
    z-index: 7;
    opacity: 0;
    width: 2.5rem;
    height: 2.5rem;
    top: 5rem;
    right: 2rem;
    cursor: pointer;
}

/*☰*/

/* caixa colorida de fundo*/
.abrir-nav-label::after{
    content: '';
    position: absolute;
    z-index: 5;
    top: 5rem;
    right: 2rem;
    background: var(--roxo-medio);
    color: var(--branco);
    font-size: 3rem;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 5px;

}
/* tive que colocar o imagem de seta separado */
.abrir-nav-label::before{
    content: url('./keyboard-arrow-down_119013.png');
    position: absolute;
    z-index: 6;
    top: 5rem;
    right: 3.5rem;
    filter: brightness(90);
    width: 2rem;
    height: 2rem;
    scale: 0.07;

}

.abrir-nav:checked ~ .nav-produtos{
    display: flex;

    animation-name: descer_barra;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}



.abrir-nav:not(:checked)~ .nav-produtos{
    display: flex;
    animation-name: subir_barra;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.nav-produtos a {
    flex: 1 1 min-content;
    max-width: max-content;
    height: min-content;

    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--branco);
    transition: background-color 300ms;
    background-color: var(--lilas-medio);
}

.nav-produtos a:hover {
    background-color: var(--lilas);
}


.zona{
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    gap: 25px;

}

.loja{
    display: flex;
    flex-flow: column;
    flex: 1 1 20vw;
    min-width: max-content;
    max-width: 15vw;
    padding: 25px;
    border-radius: 10px;
    background-color: var(--lilas-claro);
    line-height: 5px;
}

.links-footer{
    display: flex;
    width: 30%;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 15px 0;
    justify-content: space-between;
}

.links-footer li{
    padding: 15px 0;
}

.links-footer a{
    color: white;
    text-decoration: none;
}

.links-footer a:hover{
    font-weight: 700;
}

.enviar-container{
    display: flex;
    justify-content: end;
    width: 94.5%;
}

.enviar-form{
    background-color: var(--roxo);
    padding: 5px 10px;
    transition: background-color 300ms;
    border: none;
    border-radius: 5px;
    color: var(--branco);
    font-size: medium;
}

.enviar-form:hover{
    background-color: var(--roxo-vibrante);
    padding: 5px 10px;
}

.form{
    display: flex;
    flex: 1 1 30%;
    width: 30%;
    justify-content: space-between;
    background-color: var(--lilas-super-claro);
    padding: 30px;
    border-radius: 15px;
}

.form label{
    display: inline-block;
    min-width: min-content;
    width: 15%;
    margin-right: 15px;
}

.form input, textarea{
    flex: 1 1 70%;
    width: 70%;
    margin: 15px 0;
    background-color: var(--lilas-claro);
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}

.preco-estoque-container {
    display: flex;
    flex-wrap: wrap;
    width: 94.5%;
}

.preco-estoque{
    display: flex;
    flex: 1 1 50%;
    flex-wrap: wrap;
    width: 50%;
}

.preco-estoque input{
    flex: 1 1 35%;
    width: 35%;
    align-items: center;
}


.preco-estoque label{
    display: inline-block;
    width: 33%;
    height: fit-content;
    align-self: center;
}

.preco-estoque label[for='estoque']{
    margin-right: 0;
    padding-left: 10%;
}

@keyframes descer_barra {
    from{
        top:0;
    }
    to{
        top: 17.3vh;
    }
}

@keyframes subir_barra {
    0%{
        top: 17.3vh;
    }
    40%{
        top: 10vh;
    }
    90%{
        top: 1vh;
    }
    100%{
        display: none;
    }
}

@media (min-width: 1200px){
    .produto{
        max-width: 10vw;
        padding: 20px;
    }
}