<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} title {% endblock %}
    </title>
</head>
<body>
    <header>
        <h1></h1>
        <nav>
            <a href="/contatos">contatos</a> 
            <a href="/gerar-cpf">cpf</a> 
            <a href="/produtos">produtos</a> 
            <a href="/servicos">servicos</a>
            <a href="/gerar-cnpj">cnpj</a>
        </nav>
    </header>

    {% block content %}
    
    {% endblock %}

    <footer>
        <p>
            Desenvolvido por <br>
            Marisa Mayumi 
        </p>
        <legend>Site em construção</legend>
    </footer>
</body>
</html>