<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} title {% endblock %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        {% block header %}
    
        {% endblock %}

        <nav>
            <a href="/">homepage</a> 
            <a href="/contatos">contatos</a> 
            <a href="/entre-em-contato">entre em contato</a> 
            <a href="/produtos">produtos</a> 
            <a href="/servicos">servicos</a>
            <a href="/gerar-cpf">cpf</a> 
            <a href="/gerar-cnpj">cnpj</a>
        </nav>
    </header>

    <section>
        {% block content %}
    
        {% endblock %}
    </section>
    

    <footer>
        <legend>Desenvolvido por</legend>
        <legend>Marisa Mayumi</legend>
        <legend>IFSP-spo&emsp;2024</legend>
        <ul class="links-footer">
            <li><a href="/politica_privacidade">política de privacidade</a></li>
            <li><a href="/termos_uso">termos de uso</a></li>
            <li><a href="/como_utilizar">como utilizar</a></li>
        </ul>
    </footer>
</body>
</html>