{% extends "base-documentation.html"%}

{% block title %}Como utilizar{% endblock %}

{% block header %}Como utilizar{% endblock %}

{% block content %}

<p>Lorem, ipsum dolor  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam et quisquam perspiciatis, odio vel eligendi, temporibus dolore est exercitationem non aspernatur placeat commodi perferendis id amet neque molestias cupiditate enim?
Reprehenderit quis nobis placeat cumque, inventore veritatis ea cum eveniet! Earum libero nulla eveniet, minus architecto aliquam recusandae voluptatum culpa, omnis nam consequuntur officiis distinctio praesentium impedit eum autem neque?
Sequi at quod quasi, perferendis minus, dignissimos voluptates velit reprehenderit minima laboriosam aut, fugiat natus inventore adipisci blanditiis quam delectus? Ex, mollitia nesciunt. Quaerat deleniti architecto accusantium quo aliquid cupiditate?
Iste repudiandae magni tenetur deserunt aperiam commodi, accusamus explicabo, error odio a nulla esse natus consectetur veritatis odit assumenda. 
<br>
Accusamus pariatur, quia ducimus accusantium iste est alias beatae saepe quidem?
Excepturi atque mollitia neque suscipit placeat vel. Dicta neque vitae eveniet eligendi ipsum temporibus consequuntur explicabo, blanditiis aliquid quam, aut aspernatur eaque omnis perferendis architecto alias nisi ipsa, eos earum!
Reiciendis, accusamus ex alias amet quibusdam explicabo voluptates recusandae temporibus ea facilis minima doloremque natus, in incidunt numquam accusantium. Excepturi nesciunt ad quae voluptatibus, id similique a corrupti deserunt necessitatibus.
Expedita ipsam molestias aliquid cumque doloribus pariatur velit vel maxime harum eos, aliquam quia ea inventore fugiat ad ullam corrupti explicabo dolorum repudiandae voluptatum omnis magnam provident unde? Corporis, ratione.
Aperiam nulla doloremque, magnam earum minus sapiente at quas unde quos repellat voluptates voluptatum minima accusamus enim. Vel corporis a commodi officia provident, neque quasi eligendi maiores rem nam? Repellat.
Amet omnis totam hic unde molestiae. Ratione expedita possimus, impedit voluptatibus id voluptatem fugit! Adipisci, iste? Numquam aperiam dolores, voluptatibus, repellat, recusandae cumque quisquam facere eveniet sunt consequatur ullam amet? sit amet consectetur adipisicing elit. 
Accusamus, recusandae harum laboriosam ipsa dicta distinctio ipsum quidem aliquid vel nihil amet, assumenda, ducimus et tempora voluptatem id earum repellendus modi.
</p>
   
{% endblock %}

