{% extends "base.html"%}

{% block title %}Contatos{% endblock %}

{% block title_header %}

<h1>Contatos</h1> 
   
{% endblock %}

{% block content %}

<div class="zonas-container">
{% if lojas_ZL and lojas_ZN and lojas_ZO and lojas_ZS %}
    
    <h2>Zona Norte:</h2>
    <hr>
    <div class="zona">
        {% for loja in lojas_ZN %}
    
        <div class="loja">
            <h3>nome:</h3>
            <p>&emsp; {{loja.nome}} </p>
            <h3>endereco:</h3>
            <p>&emsp; {{loja.endereco}} </p>
            <h3>telefone:</h3>
            <p>&emsp; {{loja.telefone}} </p>
            <h3>email:</h3>
            <p>&emsp; {{loja.email}} </p>
        </div>
    
        {% endfor %}
    </div>

    <h2>Zona Leste:</h2>
    <hr>
    <div class="zona">
        {% for loja in lojas_ZL %}
    
        <div class="loja">
            <h3>nome:</h3>
            <p>&emsp; {{loja.nome}} </p>
            <h3>endereco:</h3>
            <p>&emsp; {{loja.endereco}} </p>
            <h3>telefone:</h3>
            <p>&emsp; {{loja.telefone}} </p>
            <h3>email:</h3>
            <p>&emsp; {{loja.email}} </p>
        </div>
    
        {% endfor %}
    </div>
   
    <h2>Zona Oeste:</h2>
    <hr>
    <div class="zona">
        {% for loja in lojas_ZO %}

        <div class="loja">
            <h3>nome:</h3>
            <p>&emsp; {{loja.nome}} </p>
            <h3>endereco:</h3>
            <p>&emsp; {{loja.endereco}} </p>
            <h3>telefone:</h3>
            <p>&emsp; {{loja.telefone}} </p>
            <h3>email:</h3>
            <p>&emsp; {{loja.email}} </p>
        </div>

        {% endfor %}
    </div>

    <h2>Centro:</h2>
    <hr>
    <div class="zona">
        {% for loja in lojas_C %}

        <div class="loja">
            <h3>nome:</h3>
            <p>&emsp; {{loja.nome}} </p>
            <h3>endereco:</h3>
            <p>&emsp; {{loja.endereco}} </p>
            <h3>telefone:</h3>
            <p>&emsp; {{loja.telefone}} </p>
            <h3>email:</h3>
            <p>&emsp; {{loja.email}} </p>
        </div>

        {% endfor %}
    </div>

    <h2>Zona Sul:</h2>
    <hr>
    <div class="zona">
        {% for loja in lojas_ZS %}

        <div class="loja">
            <h3>nome:</h3>
            <p>&emsp; {{loja.nome}} </p>
            <h3>endereco:</h3>
            <p>&emsp; {{loja.endereco}} </p>
            <h3>telefone:</h3>
            <p>&emsp; {{loja.telefone}} </p>
            <h3>email:</h3>
            <p>&emsp; {{loja.email}} </p>
        </div>

        {% endfor %}
    </div>



{% else %}
<h2>nenhuma loja registrada</h2>
{% endif %}
</div>


{% endblock %}