{% extends "base-documentation.html"%}

{% block title %}Política de privacidade{% endblock %}

{% block header %}Política de privacidade{% endblock %}

{% block content %}
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Accusamus, recusandae harum laboriosam ipsa dicta distinctio ipsum quidem aliquid vel nihil amet, 
    assumenda, ducimus et tempora voluptatem id earum repellendus modi.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, dicta iste libero quaerat blanditiis doloribus qui exercitationem pariatur repellendus, doloremque laudantium quas totam quod. Cum in ex quod culpa perspiciatis.
    Corporis, provident facilis. Soluta, harum iure voluptate optio distinctio temporibus. Suscipit perferendis inventore quam quidem velit consectetur quis ipsam doloremque, sunt repudiandae, atque voluptas laborum, laboriosam at cupiditate fugiat nostrum!
    Sequi obcaecati repellat doloremque harum, laboriosam cumque? Quia officiis aliquam est at explicabo! Dignissimos provident nostrum dolore dolorem labore reprehenderit deleniti, maiores quos, at nisi, libero velit consequuntur eveniet laudantium.
    Fugit, nemo beatae corrupti accusamus quas molestias? Dolorem quo quibusdam excepturi enim voluptatibus, minus ullam. 
    <br>
    Ex voluptas assumenda odit dolorum veritatis, suscipit excepturi deleniti molestiae, molestias, quam nulla aperiam illo?
    Rem cum repudiandae voluptate iste aliquid error commodi veritatis placeat, odio provident nam. Rem dolore quia nisi obcaecati a impedit. Laboriosam maxime repellendus sunt! Iure veritatis eaque in quae ab.
    Porro saepe aut a nobis eum tempora cumque necessitatibus deserunt laborum laboriosam. Expedita voluptates, deleniti sint corporis iusto maiores? Repudiandae inventore voluptate minima consequatur temporibus ad! Ipsum cum autem sed.
    Error laborum ab sapiente perferendis praesentium impedit cupiditate doloribus possimus repellendus, quas non omnis, ducimus ipsum dicta voluptates dolorum molestiae commodi, architecto eius hic ex illo. Alias id odio iure.
    Necessitatibus, ducimus id? Ut veniam expedita quisquam asperiores cupiditate laboriosam rem sequi. Non, itaque dicta! Deleniti cum vitae corrupti necessitatibus quas quis unde distinctio similique earum! Natus error non sint.
    Temporibus beatae inventore unde tempore deserunt hic aspernatur necessitatibus dolore itaque rerum error aut libero nisi placeat, consectetur ullam similique cumque! Expedita eum eius veniam ratione necessitatibus unde! Eius, repudiandae!
    Dolor consequuntur tempore magni molestias amet quasi nesciunt laborum odit ullam, cum sit sequi deleniti culpa vero quia quo molestiae nobis impedit fugiat adipisci neque! Reiciendis repellat fugit quidem vel!
</p>
   
{% endblock %}

