{% extends "base.html"%}

{% block title %}Produtos{% endblock %}

{% block header %}

<h1>Produtos</h1>
    
{% endblock %}


{% block under_header %}
<nav class="nav-produtos">
    <a href="/produtos/cadastro">cadastro</a>
</nav>
{% endblock %}


{% block content %}
<!-- agora consegue trazer/acessar produtos do python-->

<div class="produtos-container">
    {% if produtos %}
        {% for produto in produtos%}

        <div class="produto">
            <h3>{{produto.nome}}</h3>
            <h4 id="produto-marca">{{produto.marca}}</h4>
            <p id="produto-categoria">{{produto.categoria}}</p>
            <p id="produto-preco">R$ {{produto.preco}}</p>

            <a id="link-comprar" href="#" target="_self">Comprar</a>
        </div>

        {% endfor %}
    {% else %}
        <h2>nenhum produto cadastrado</h2>
    {% endif %}
</div>
{% endblock %}
