{% extends "base-documentation.html"%}

{% block title %}Termos de uso{% endblock %}

{% block header %}Termos de uso{% endblock %}

{% block content %}    
<p>
Lorem, ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus officia, iure, illum corporis iusto ipsam nostrum tenetur rem quae dolor consectetur enim necessitatibus! Laboriosam perferendis quasi, odio eaque blanditiis rerum.
Perferendis minima sapiente debitis veritatis velit omnis voluptatibus, aliquam numquam dolorem natus dignissimos, ut culpa. Porro mollitia dolor minus tempora voluptatem odit, excepturi, earum error magnam repellendus ducimus aliquid ex.
Eveniet sequi voluptas exercitationem, dignissimos molestiae placeat tempora voluptatem repellat voluptate consequuntur dolores! Qui quis quibusdam illum at veniam dolorem id, facilis iste! Vel quisquam cupiditate id! Tenetur, libero at.
Dignissimos dolorum deleniti expedita possimus! 
<br>
Blanditiis ratione fuga modi totam neque iusto nam rem molestiae eum reiciendis. Quos, labore adipisci! Illo, quae perspiciatis. Qui ea rerum architecto tenetur suscipit minus?
Itaque, animi similique voluptatum doloremque sapiente quas cum, praesentium sunt magni consequatur omnis impedit vel harum? Labore reprehenderit maxime repellendus consequatur molestiae ab voluptatem, quisquam, dignissimos vero esse, molestias laborum?
Voluptatum laudantium delectus fuga odit provident itaque, eum sed! Eum voluptate nostrum saepe odit sapiente laudantium, veritatis inventore eveniet vero consequatur officia maiores, delectus omnis commodi vel amet? Cumque, provident.
Vel nihil eveniet debitis, quaerat asperiores officia voluptatum ab eaque nemo dolor blanditiis nisi temporibus praesentium perspiciatis molestiae. Autem repellendus a molestias excepturi sint eos qui quod necessitatibus officiis eius!
Reiciendis ullam et placeat, porro obcaecati consectetur officia illo earum magnam, dicta eligendi doloremque adipisci! Provident beatae a ut cum veritatis modi quibusdam est. Possimus quidem soluta reprehenderit quia aut.
Nihil eos illum, suscipit omnis ullam modi soluta praesentium non sequi, eligendi error! Minus, laboriosam voluptatibus debitis incidunt non odit eos, maxime assumenda illum delectus sequi officia placeat soluta ut?
Possimus quod qui pariatur dolorum similique excepturi laboriosam, veniam iusto vel libero sit autem maxime eaque aperiam corporis error maiores at incidunt? Corrupti eligendi sit ipsum reiciendis repellendus veritatis nulla? sit amet consectetur adipisicing elit. Accusamus, recusandae harum laboriosam ipsa dicta distinctio ipsum quidem aliquid vel nihil amet, assumenda, ducimus et tempora voluptatem id earum repellendus modi.
</p>
   
{% endblock %}

